body{
 background-color:lightslategray;
}
h1{
    font-size: 50px;
}


.container-title{

  display: block;
  background-color: orangered;
  padding: 20px 20px;
  width: 400px;
}

.container-instructions{

    display:block;
    background-color:orange;
    margin-top:10px;
    padding: 20px 20px;
    width: 400px;

}


.contains-text span{
    display: block;
    margin-top: 10px;
    color: gray;
}


   


.contains-number {
    display:block;
    color:white;
    font-weight: bold;
    background-color:black;
    margin-top:10px;
    margin-left:20px;
    width: 200px;
    height: 100px;
    border-radius: 99px;
}

.number-to-guess{
    padding: 40px 20px;
}

.contains-winloss {
    display:block;
    background-color:green;
    color: white;
    margin-top:-100px;
    margin-left:290px;
    width: 150px;
    height: 70px;
}   

.wins-text{
    padding: 5px 5px 5px 5px;
}

.losses-text{
    padding: 5px 5px 5px 5px;
}


img {
    margin-top: 10px;
    margin-right:10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;    
}



.your-guess{
    display: block;
    background-color:green;
    width: 150px;
    height: 20px;
    margin-top: -55px;  
    margin-left:250px;
    color:white;
    text-align: center; padding: 20px;

}

