body{
 background-color:lightslategray;
}
h1{
    font-size: 50px;
}
.container-title{

  display: block;
  background-color: orangered;
  padding: 20px 20px;
  width: 400px;
}

.container-instructions{

    display:block;
    background-color:orange;
    margin-top:10px;
    padding: 20px 20px;
    width: 400px;

}


.contains-text span{
    display: block;
    margin-top: 10px;
    color: gray;
}



.contains-number {
    display:block;
    color:gray;
    background-color:lightgreen;
    margin-top:10px;
    width: 200px;
    height: 100px;
}

.contains-winloss {
    display:block;
    background-color:green;
    color: white;
    margin-top:10px;
    width: 100px;
    height: 100px;
}   

.crystals-container{
    display: block;
    background-color:white;
    width: 430px;
    height: 100px;
    margin-top: 10px;
}


.containsscore{
    margin-top: 10px;
    display: block;
    background-color:lightseagreen;
    width: 150px;
    height: 30px;
}

.addedscore{
    display: block;
    background-color:green;
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
